.form{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 5px solid rgb(60, 190, 0);
  background-color: rgb(179, 179, 179);
  margin-top: 30px;
  padding: 30px 50px;
  width: 300px;
}

label{
  font-size: 24px;
  color: rgb(0, 0, 133);
  display: inline-block;
  width: 120px;
  text-align: right;
}

input{
  margin-left: 10px;
  font-size: 22px;
  width: 150px;
  text-align: center;
}

.second{
  margin-top: 15px;
}

h3{
  margin-top: 0;
  text-align: center;
  font-size: 25px;
  color: rgba(255, 30, 0, 0.938);
}
